* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #dfe0e2;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
}

canvas {
  position: fixed;
}

h1 {
  margin-bottom: 10px;
  font-weight: normal;
}

#stats-div {
  position: fixed;
  top: 10px;
  left: 10px;
}

#stats-div span {
  display: block;
}

#flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#preset-buttons {
  margin-left: 5px;
}

#control-container {
  width: 320px;
  background-color: black;
}

#color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#other-controls {
  margin-left: 5px;
}

.color-box {
  flex-grow: 1;
  margin-bottom: 10px;
}

#canvas-div {
  flex-grow: 1;
}

#controls {
  display: inline-block;
  margin-top: 25%;
  margin-left: 4px;
  width: 300px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 15px;
  background-color: rgb(12, 38, 39);
  border-radius: 8px;
  border: solid 2px rgb(26, 80, 82);
}

.ui-slider {
  background-color: #a2aebb;
  margin: 10px 5px;
}

.ui-slider-handle {
  background-color: #dfe0e2;
}

.ui-slider-handle.ui-state-active {
  background-color: #8c4843;
}

div#control-sliders span {
  color: #3ddc97;
  font-weight: bold;
  margin-left: 0.5em;
}

button {
  width: 69px;
  background-color: #a2aebb;
  color: #0c2627;
  padding: 2px 4px;
  margin: 4px 2px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #8c4843;
  color: #dfe0e2;
}

button:active {
  background-color: #dfe0e2;
  color: #8c4843;
}

label {
  margin-left: 5px;
}

label.units {
  float: right;
}

input[type="color"] {
  border: none;
  border-radius: 5px;
  background-color: rgb(12, 38, 39);
}

input[type="color"]:hover {
  background-color: #8c4843;
}

input[type="checkbox"] {
  margin-left: 3px;
}

select {
  display: block;
  width: 200px;
  margin: 10px 5px;
  background-color: #a2aebb;
  color: rgb(12, 38, 39);
}

/* https://coolors.co/0c2627-8c4843-3ddc97-a2aebb-dfe0e2 */
