* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: gainsboro;
  background-color: black;
}

canvas {
  position: fixed;
}

h1 {
  margin-bottom: 10px;
}

#stats-div {
  position: fixed;
  top: 10px;
  left: 10px;
}

#stats-div span {
  display: block;
}

#flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#control-container {
  width: 320px;
  background-color: black;
}

#color-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.color-box {
  flex-grow: 1;
}

#canvas-div {
  flex-grow: 1;
}

#controls {
  display: inline-block;
  margin-top: 20%;
  width: 300px;
  padding: 5px;
  background-color: rgb(12, 38, 39);
  border-radius: 8px;
  border: solid 2px gainsboro;
}

.ui-slider {
  margin: 10px 5px;
}

div#control-sliders span {
  color: turquoise;
  font-weight: bold;
  margin-left: 0.5em;
}

button {
  background-color: teal;
  color: gainsboro;
  padding: 2px 4px;
  margin: 4px 2px;
  border-radius: 5px;
}

label.units {
  float: right;
}
